include pycfdi_transform/*.py
include pycfdi_transform/formatters/*/*.py
include pycfdi_transform/formatters/*.py
include pycfdi_transform/sax/*/*.py
include pycfdi_transform/helpers/*.py
include pycfdi_transform/xsd/*/*.xsd
include pycfdi_transform/xsd/*/*/*.xsd