include pycfdi_transform/xslt/*.xslt
include pycfdi_transform/sax/*.py
include pycfdi_transform/v2/sax/*/*.py
include pycfdi_transform/v2/helpers/*.py
include pycfdi_transform/xsd/*/*.xsd
include pycfdi_transform/xsd/*/*/*.xsd